<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property resource="logging.properties" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="next.operator" level="debug" />

</configuration>